/* Created by: Isaaq Simon
* Created on: Mar 2025
* This file contains the CSS for index.html
*/

body {
    background-color: rgb(100, 106, 222);
}


h1 {
    background-color: rgb(255, 255, 255);
    color: hsl(0, 93%, 48%);
    padding: 40px;
    text-align: center;
}


p {
    background-color: #ffffff;
    color:hsl(0, 93%, 48%)
}